.form {
  &__rows-group {
    padding: 0 24px;
  }

  &__delete {
    transition: color 0.2s ease;

    &:hover {
      color: var(--error);
    }
  }
}

.section-delimiter {
  margin: 16px 0;
  padding: 16px 24px 0;
  border-top: 1px solid #ccc;
  font-size: 18px;
  font-weight: 600;
}

.ingredient {
  display: flex;
  justify-content: space-between;

  &__qty {
    width: 100px;
  }

  &__price {
    width: 130px;
  }
}

.option__name {
  margin: 0 8px 0 0;
}

.option__name-container {
  display: flex;
  align-items: center;
}
